*.DS_Store

.metadata
.recommenders
RemoteSystemsTempFiles
Servers
*/.settings
*/bin
*/target
*/.classpath
*/.project
*/.settings
*/src/main/webapp/META-INF
*/*.iml

.idea
*.iml
/.metadata/
/.recommenders/
